@import "reset.css";

/*화면 전체 배경 css*/
.background {
  box-sizing: border-box;

  width: 94.9rem;
  height: 64rem;

  background: radial-gradient(
    52.74% 104.51% at 33.68% 46.92%,
    rgba(27, 149, 39, 0.65) 0%,
    #1b9527 100%
  );
}
/* 머리글 css */
.background .header {
  display: flex;
  height: 100px;
  margin-left: 63%;
  padding-top: 10px;
}

/* 계산기 css */
.background .calculator {
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 계획표 css */
.background .schedule {
  padding-left: 1rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 로그인 css */
.background .login {
  padding-left: 3rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 회원가입 css */
.background .join {
  padding-left: 1rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 본문 css */
.background .container {
  display: flex;
  justify-content: center;
}

/* 계산기화면 배경 css */
.background .main-background {
  box-sizing: border-box;

  display: flex;
  width: 1012px;
  height: 651px;
  flex-wrap: wrap;

  background: linear-gradient(
    292.48deg,
    #81e055 0%,
    rgba(255, 255, 255, 0.54) 100%
  );
  border: 2px solid #000000;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 연료선택창 배경 css */
.background .fuel-background {
  box-sizing: border-box;

  display: flex;
  width: 900px;
  height: 131px;
  margin-top: 61px;
  margin-left: 56px;
  align-items: center;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

/* 자동차 연료 텍스트 css */
.background .car-fuel-text {
  margin-left: 39.36px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 58px;

  color: #000000;
}

/* 연료 체크박스 css */
.background .fuel-checkbox1 {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 124.28px;

  background: #e0753f;
  border: 1px solid #000000;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

/* 체크 이미지 css */
.background .check-image {
  width: 28px;
  height: 20px;
  border-radius: 7px;
}

/* 경유 텍스트 css */
.background .diesel-text {
  margin-left: 0.5rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

/* 연료 체크박스 css */
.background .fuel-checkbox2 {
  box-sizing: border-box;

  width: 2rem;
  height: 2rem;
  margin-left: 81.82px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

/* 휘발유 텍스트 css */
.background .gasoline-text {
  margin-left: 0.5rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

/* 이동거리 입력창 배경 css */
.background .distance-background {
  box-sizing: border-box;

  display: flex;
  width: 438px;
  height: 131px;
  margin-left: 56px;
  align-items: center;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

/* 이동거리 텍스트 css */
.background .move-distance-text {
  margin-left: 14px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 39px;

  color: #000000;
}

/* 이동거리 입력 박스 css */
.background .distance-input {
  box-sizing: border-box;

  margin-left: 9.72px;

  width: 227.32px;
  height: 78px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* 이동거리 단위 css */
.background .distance-unit {
  width: 58px;
  height: 19px;
  margin-top: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

/* 연비 입력창 배경 css */
.background .fuel-efficiency-background {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  width: 438px;
  height: 131px;
  margin-left: 24px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
}

/* 연비 텍스트 css */
.background .fuel-efficiency-text {
  margin-left: 46px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 39px;

  color: #000000;
}

/* 연비 입력 박스 css */
.background .fuel-efficiency-input {
  box-sizing: border-box;

  margin-left: 46px;

  width: 227.32px;
  height: 78px;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* 연비 단위 css */
.background .fuel-efficiency-unit {
  width: 58px;
  height: 19px;
  margin-top: 60px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
}

/* 결과 버튼 css */
.background .result-button-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 249px;
  height: 139px;
  margin-left: 381px;

  background: #ffffff;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* 결과 텍스트 css */
.background .result-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}
