@import "reset.css";

/*화면 전체 배경 css*/
.background {
  box-sizing: border-box;

  width: 94.9rem;
  height: 64rem;

  background: radial-gradient(
    52.74% 104.51% at 33.68% 46.92%,
    rgba(27, 149, 39, 0.65) 0%,
    #1b9527 100%
  );
}

/* 하이퍼링크 css */
a[href] {
  text-decoration-line: none;
  color: inherit;
}

/* 머리글 css */
.background .header {
  display: flex;
  height: 100px;
  margin-left: 63%;
  padding-top: 10px;
}

/* 계산기 css */
.background .calculator {
  padding-left: 1rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 계획표 css */
.background .schedule {
  padding-left: 1rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 로그인 css */
.background .login {
  padding-left: 3rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 회원가입 css */
.background .join {
  padding-left: 1rem;
  height: 21px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.5);
}

/* 본문 css */
.background .container {
  display: flex;
}

/* 결과 내용 출력창 배경 css */
.background .result-background {
  box-sizing: border-box;

  display: flex;
  width: 554px;
  height: 741px;
  left: calc(50% - 554px / 2 - 352px);
  top: 186px;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 131.2px;

  background: linear-gradient(
    292.48deg,
    #81e055 0%,
    rgba(255, 255, 255, 0.54) 100%
  );
  border: 2px solid #000000;
  box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 결과 및 내용 배경 css */
.background .result-contents-background {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 482px;
  height: 292.53px;
  left: calc(50% - 482px / 2 - 352px);
  top: 233.81px;
  margin-left: 36px;
  margin-top: 47.81px;

  font-size: 24px;
  font-weight: 550;
  line-height: 45px;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 결과 및 내용 */
p {
  padding-right: 20px;
  padding-left: 20px;
}

/* 결과값 css */
.background #result-contents1 {
  font-size: 3rem;
}

/* 결과 비교 그래프 배경 css */
.background .result-graph-background {
  box-sizing: border-box;

  width: 482px;
  height: 292.53px;
  left: calc(50% - 482px / 2 - 352px);
  top: 233.81px;
  margin-left: 36px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안 전체 배경 css */
.background .act-way-all-background {
  box-sizing: border-box;

  display: flex;
  width: 554px;
  height: 741px;
  left: calc(50% - 554px / 2 - 352px);
  top: 186px;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 148px;

  background: linear-gradient(
    292.48deg,
    #81e055 0%,
    rgba(255, 255, 255, 0.54) 100%
  );
  border: 2px solid #000000;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안1 배경 css */
.background .act-way-background1 {
  box-sizing: border-box;

  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  width: 226px;
  height: 292.53px;
  left: calc(50% - 226px / 2 + 222px);
  top: 234px;
  margin-left: 36px;
  margin-top: 48px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안1 텍스트 css */
.background .act-way-text1 {
  width: 223px;
  height: 47px;
  left: 830px;
  top: 260px;
  margin-top: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

/* 실천방안1 이미지 css */
.background .act-way-image1 {
  width: 9rem;
  height: 9rem;
}

/* 실천방안2 배경 css */
.background .act-way-background2 {
  box-sizing: border-box;

  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  width: 226px;
  height: 292.53px;
  left: calc(50% - 226px / 2 + 222px);
  top: 234px;
  margin-left: 32px;
  margin-top: 48px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안2 텍스트 css */
.background .act-way-text2 {
  width: 223px;
  height: 61px;
  left: 1088px;
  top: 260px;
  margin-top: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

/* 실천방안2 이미지 css */
.background .act-way-image2 {
  width: 9rem;
  height: 9rem;
}

/* 실천방안3 배경 css */
.background .act-way-background3 {
  box-sizing: border-box;

  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  width: 226px;
  height: 292.53px;
  left: calc(50% - 226px / 2 + 222px);
  top: 234px;
  margin-left: 36px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안3 텍스트 css */
.background .act-way-text3 {
  width: 223px;
  height: 46px;
  left: 830px;
  top: 610px;
  margin-top: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

/* 실천방안3 이미지 css */
.background .act-way-image3 {
  width: 9rem;
  height: 9rem;
}

/* 실천방안4 배경 css */
.background .act-way-background4 {
  box-sizing: border-box;

  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  width: 226px;
  height: 292.53px;
  left: calc(50% - 226px / 2 + 222px);
  top: 234px;
  margin-left: 32px;

  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 53px;
}

/* 실천방안4 텍스트 css */
.background .act-way-text4 {
  width: 223px;
  height: 46px;
  left: 1088px;
  top: 610px;
  margin-top: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
}

/* 실천방안4 이미지 css */
.background .act-way-image4 {
  width: 9rem;
  height: 9rem;
}
